<p> <%= current_user.name %> </p>
<p> <%= current_user.username %> </p>
<p> <%= current_user.DOB %> </p>
<p> <%= current_user.email %> </p>
<p> <%= current_user.county %> </p>
<p> <%= current_user.points %> pts </p>

<%= link_to "Edit your profile", edit_user_registration_path %>