<!DOCTYPE html>
<html>
<head>
  <title>Stemettes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>

  <% if user_signed_in? %>
    <header>
      <nav class="navbar navbar-fixed-top">
        <%= link_to image_tag("crown-logo.png"), home_path, id: "home-link" %>
        <div id="profile-section">
          <%= link_to image_tag(current_user.avatar.url(:thumb), class: "img-circle"), user_path(current_user.id), id: "profile-pic" %><br/>
          <%= link_to "#{current_user.first_name}", user_path(current_user.id), id: "username-link" %>
        </div>
        <%= link_to image_tag("signout-icon.png"), destroy_user_session_path, method: :delete, id: "signout-link" %>
      </nav>
    </header>

    <%= yield %>

  <% else %>

    <%= yield %>

    <section id="button-panel">
      <%= link_to "Log in", new_user_session_path, class: "btn blue" %><br/>
      <%= link_to "Sign up", new_user_registration_path, class: "btn blue" %>
    </section>
  <% end %>

  <p class="alert"><%= alert %></p>

</body>
</html>
